body {
  width: 797px;
  background-color: #202020;
  margin: 0 auto;
  padding: 22px;
  font-family: sans-serif;
  color: white;
}

.container{
width: 800px
position: relative;
}

.postition-relative {
  position: relative;
}

.postion-absolute-right {
  position: relative;
  right: -280px;
}

.pink {
  margin: 5 5 10 10;

}

.image_margin {
  box-shadow: 5px 10px 20px #0DAAFF;
}

.image_margin2 {
  box-shadow: 5px 5px 20px #0DAAFF;
  align-self: right;
}

#pink-pic {
  right: 0px;
  margin-left: 284px;
}
.image {
  position: absolute;
  right: 2px;
}
#durian-right {
  margin-left:284;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  text-align: left;
  font-size: 65px;
  color: yellow;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

h2 {
  color: white;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 15px;

}
h3 {
  letter-spacing: 20px;
  text-align: left;
  margin-top: 90px;
  margin-bottom: 90px;

}
h4 {
  text-align: right;
  font-family: 'Gravitas One', cursive;
  font-size: 40px;
  text-align: left;
  margin-bottom: 5px;
}

h5 {
  font-family: 'Bungee', cursive;
  font-size: 50px;
  text-align:right;
  letter-spacing: 3px;
  margin-bottom: 5px;

}
h6 {
  font-size: 10px;
}

em {
  color: #ffff0d ;
}

